.botones a {
    border: 0px outset Gray;
    color: black;
    width: 10;
    height: 10;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    padding: 1px 15px 1px 15px;
    text-align: center;
    margin: 1px;
    box-shadow: 5px 5px 5px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.botones a.uno {
    background: rgba(255, 164, 032);
}
.botones a:hover {
    padding: 3px 17px 3px 17px;
    background: rgba(255, 164, 032, 0.8);
    opacity: 0.0-1.0;
    transform: scale(1.2);
}
a.uno:hover  {
	padding: 3px 17px 3px 17px;
    background: rgba(255, 164, 032);
}